* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=M+PLUS+Code+Latin&family=Nunito:ital@0;1&display=swap');

body {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

pre {
    background: rgb(219, 219, 219);
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 15px;
    border-radius: 10px;
    max-height: 600px;
    overflow: auto;


}

code {
    font-family: 'M PLUS Code Latin', sans-serif;
    letter-spacing: .6px;
}


nav {
    font-size: 0.9em;
    position: fixed;
    height: 100%;
    border-right: solid;
    line-height: 1.8;

}

nav li {
    border-top: 1px solid #000;
    padding: 5px 20px 5px 10px;
}

main {
    margin-left: 310px;
    padding-left: 20px;
}

ol {
    margin-left: 50px;
}

p {
    margin: 30px;
}

header {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

nav header {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

h3 {
    font-weight: bold;
    font-size: 1.2em;
}









@media (max-width:815px) {
    nav {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        border-right: none;
        line-height: 1.8;
        top: 0;
    }

    main {
        margin-left: 0;
        padding-left: 0;
        margin-top: 200px;

    }

    nav ul {
        border-top: 2px solid;
        border-bottom: 3px solid;
        height: 150px;
        overflow: auto;
    }

    nav header {
        margin: 5px;
    }

    body {
        font-size: 15px;
    }

    header, h3 {
        text-align: center;

    }

    ol {
        margin-left: 22px;
    }

    pre {
        width: 80%;
        max-height: 300px;

    }

    p {
        margin: 5px;
    }

    .btn {
        background: rgba(0, 0, 255, 0.4);
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        text-align: center;
    }
img{
    width: 50px;
    height: 50px;
    opacity: 0.3;
}

}